*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    
    font-family: sans-serif;
    padding: 1rem;
    
}
.container{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: #33a892 1px solid;
    
    gap: 1em;
    position: relative;
    top: 7em;
    

}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    text-transform: uppercase;
    text-align: center;
   
    

}
hr{
    background-color: #33a892;
    height: 1px;
    border: transparent;

}
.password{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.pass{
    display: flex;
    flex: 1;
}
#icon{
    display: flex;
    color: #33a892;
    position: absolute;
    margin-top: .8em;
    margin-left: 0.5em;
    line-height: normal;
    font-size: 1.1rem;
      
}
#icon:hover{
    color: #6d93c9;
}

input[type="password"]{
    display: flex;
    
    font-size: 1.1em;
    outline: none;
    height: 3rem;
    padding-left: 2em;
    background-color: transparent;
    border: #33a892 1px solid;
    color: #33a892;
    text-transform: lowercase;
    
}

.newpass{
    display: flex;
    flex: 1;
}

#icon2{
    display: flex;
    color: #33a892;
    position: absolute;
    
    margin-top: 0.8em;
    margin-left: 0.5em;
    line-height: normal;
    font-size: 1.1rem;
      
}
#icon2:hover{
    color: #6d93c9;
}
  
input:hover{
    color: #33a892;  
}
input::placeholder{
    color: #33a892;
    
}


.buttons{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}
button{
    display: flex;
    border-radius: 1rem;
    border: 0;
    background-color: transparent;
    font-weight: bolder;
    font-size: 15px;
    
}
.buttonconfi{
    display: flex;
     
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 1rem;
    background-color: #6d93c9;
    flex: 1;
    padding: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
}
.buttonconfi:hover{
     color: #6d93c9;
     background-color: #fff;
     border: #6d93c9 1px solid;
}
